@model Asreyion.Core.Areas.Test.Models.TestModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <h1 class="display-4">Test Page</h1>
    <p>Test page url: @Model.Url</p>
</div>
